<h1>Pending for Approval</h1>

<div class="row d-flex justify-content-around p-4 ">
<div class="card-columns">


    <% @places.each do |place| %>
        <div class="mb-4 card border-warning">
            <div class="border-warning rounded-2">
                <%= cl_image_tag((place.img_url), class: "card-img-top") %>
                <div class="card-body">
                    <h5 class="card-title"><%=place.name%></h5>
                    <%= link_to 'Approve', "/places/approve/" + place.id.to_s, class: "btn btn-primary" %>
                    <%= link_to 'View', place_path(place), class: "btn btn-primary" %>
                    <%= link_to 'Delete', "/places/pending/" + place.id.to_s, class: "btn btn-primary" %>
                </div>
            </div>
        </div>
    <% end %>

</div>
</div>




