<h1 class = "text-center">This is the edit page</h1>


<div id= "editForm" class = "container">
    <div class="form-row">
        <div class="col">
            <%= form_with scope: :place, model: @place, local: true do |form| %>
             <%= form.label :name %><br>
            <%= form.text_field :name %>
        </div>
        <div class="col">
            <%= form.label :address %><br>
            <!-- input type is needed for places api -->
            <input type="text" name="place[address]" id="autocomplete">
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <%= form.label :description %><br>
            <%= form.text_field :description %>
        </div>
        <div class="col">
            <%= form.label :review %><br>
            <!-- input type is a workaround for the activerecord  -->
            <input type="text" name="place[review]" id="place_review">
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <%= form.label :image %><br>
            <%= form.text_field :img_url %>
        </div>
        <div class="col">
            <%= form.label :rating %><br>
             <div class="star-rating">
                <div class="star-rating__wrap">
                    <input class="star-rating__input" id="star-rating-5" type="radio" name="value" value=<%= '5'.to_i%>>
                    <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
                    <input class="star-rating__input" id="star-rating-4" type="radio" name="value" value=<%= '4'.to_i%>>
                    <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
                    <input class="star-rating__input" id="star-rating-3" type="radio" name="value" value=<%= '3'.to_i%>>
                    <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
                    <input class="star-rating__input" id="star-rating-2" type="radio" name="value" value=<%= '2'.to_i%>>
                    <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
                    <input class="star-rating__input" id="star-rating-1" type="radio" name="value" value=<%= '1'.to_i%>>
                    <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
                </div>
             </div>
        </div>

</div>
    <div class="form-row">
        <div class="col">
            <%= link_to 'back', place_path %>
        </div>
        <div class="col">
            <%= form.submit %>
            <% end %>
        </div>
    </div>
</div>



