<h1>This is the new page</h1>

<%= form_with scope: :place, url: places_path, local: true do |form| %>

    <p>
        <%= form.label :name %><br>
        <%= form.text_field :name %>
    </p>

    <p>
        <%= form.label :description %><br>
        <%= form.text_field :description %>
    </p>

    <p>
        <%= form.label :address %><br>
        <!-- input type is needed for places api -->
        <input type="text" name="place[address]" id="autocomplete">

    </p>

    <p>
            <%= form.label :images %><br>
            <%= form.file_field :img_url %>
    </p>

    <hr/>

    <p>
    <%= form.label :rating %><br>
    <div class="star-rating">
        <div class="star-rating__wrap">
            <input class="star-rating__input" id="star-rating-5" type="radio" name="value" value=<%= '5'.to_i%>>
            <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
            <input class="star-rating__input" id="star-rating-4" type="radio" name="value" value=<%= '4'.to_i%>>
            <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
            <input class="star-rating__input" id="star-rating-3" type="radio" name="value" value=<%= '3'.to_i%>>
            <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
            <input class="star-rating__input" id="star-rating-2" type="radio" name="value" value=<%= '2'.to_i%>>
            <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
            <input class="star-rating__input" id="star-rating-1" type="radio" name="value" value=<%= '1'.to_i%>>
            <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
        </div>
    </div>
    </p>

    <p>
        <%= form.label :review %><br>
        <input type="text" name="place[review]" id="place_review">
    </p>

    <p>
    <%= form.collection_check_boxes :tag_ids, @tags, :id, :name %>
    </p>
    <p>
      <%= form.submit %>
    </p>
  <% end %>

  <%= link_to 'back', places_path %>
