<p>Places:</p>
<p>
  <%= @place.name %>
  <%= @place.description %>
  <%= @place.address %>
</p>

<img src=<%=@place.img_url%>>

<% if !@rating %>
<h1>no rating</h1>
<% else %>
<%= @rating.value %>
<% end %>

<% if !@review %>
<h1>no review</h1>
<% else %>
<%= @review.review %>
<% end %>

<%= link_to 'Back', places_path %>