
<div class="container">
  <div class="row">
    <div class="col border">
    <h1><%= @place.name %></h1>
    <p>Description: <%= @place.description %></p>
    <p>Address:   <%= @place.address %></p>
    </div>

    <div class="col border">
    <%= cl_image_tag(@place.img_url) %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <% if !@rating %>
    <h1>no rating</h1>
    <% else %>
    <%= @rating.value %>
    <% end %>

    <% if !@review %>
    <h1>no review</h1>
    <% else %>
    <%= @review.review %>
    <% end %>
  </div>
</div>
<%= link_to 'Back', places_path %>