<div class="container mt-5">
  <div class="row">
    <div class="col text-left">

      <h1><%= @place.name %></h1> 
      
      <% pre_favourite = @place.favourite.find { |favourite| favourite.user_id == current_user.id} %>

        <% if pre_favourite %>
        <div class="d-flex align-items-center">
          <%= button_to 'ðŸ’”', post_favourite_path(@place,pre_favourite), class: "btn border-0 bg-white", method: :delete %> <span> <%= @place.favourite.count %> <%= (@place.favourite.count) == 1 ? 'people favourited this' : 'people favourited this'%> </span>
        </div>

        <% else %>
        <div class="d-flex align-items-center">
          <%= button_to 'â¤ï¸', post_favourite_path(@place), class: "btn border-0 bg-white", method: :post %> <span><%= @place.favourite.count %> <%= (@place.favourite.count) == 1 ? 'people favourited this' : 'people favourited this'%></span>
        </div>

      <% end %>
      
      <hr>

      <!-- display name of user who posted specific place_id -->
      <p>By: <a href="/places/user/<%= @user_id%>" > <%= @creator.username%></a></p>
      <p> <span id ="desc"> Description: </span>
       <%= @place.description %></p>
      <span id="location" class = "text-left">
      <span id = "address"> Address:</span> <span id = "place_address"> <%= @place.address %> </span>
      <!-- div for map image -->
        <div id = "map">

        </div>
      </span>
      <!-- <div class="btn-container"> -->
        <button onclick="toggle()" class = "btn btn-info" id="expand">View Location</button>
      <!-- </div> -->
    </div>

    <div class="col text-left">
      <% if @place.img_url %>
      <%= cl_image_tag(@place.img_url, :size => "650x500", :crop => :fill) %>
      <% else %>
      <%= image_tag('/logo.svg', :size => "650x500", :crop => :fill) %>
      <% end %>

      <h5 class="mt-3">Rating:</h5>
      <% if !@ratings.exists? %>
      <p>No rating given.</p>
      <% else %>
      <% @ratings.each do |rating| %>
        <% if rating.value == 5 %>
          <div class="stars">
            <img src="/star_icon.svg">
            <img src="/star_icon.svg">
            <img src="/star_icon.svg">
            <img src="/star_icon.svg">
            <img src="/star_icon.svg">
          </div>
        <% end %>

        <% if rating.value == 4 %>
          <div class="stars">
            <img src="/star_icon.svg">
            <img src="/star_icon.svg">
            <img src="/star_icon.svg">
            <img src="/star_icon.svg">
            <img src="/star_outline.svg">
          </div>
        <% end %>

        <% if rating.value == 3 %>
          <div class="stars">
            <img src="/star_icon.svg">
            <img src="/star_icon.svg">
            <img src="/star_icon.svg">
            <img src="/star_outline.svg">
            <img src="/star_outline.svg">
           </div>
        <% end %>

        <% if rating.value == 2 %>
          <div class="stars">
            <img src="/star_icon.svg">
            <img src="/star_icon.svg">
            <img src="/star_outline.svg">
            <img src="/star_outline.svg">
            <img src="/star_outline.svg">
          </div>
        <% end %>

        <% if rating.value == 1 %>
          <div class="stars">
            <img src="/star_icon.svg">
            <img src="/star_outline.svg">
            <img src="/star_outline.svg">
            <img src="/star_outline.svg">
            <img src="/star_outline.svg">
          </div>
        <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<hr>
  <div class="row">
    <div class="col text-left creation">
      <h1 >Reviews:</h1>
      <% if !@reviews.exists? %>
        <p>No reviews yet. Add a review here.</p>
      <% else %>
        <% @reviews.each do |review| %>
          <p><%=review.user.username %> says:</p>
            <div class="row">
              <div class="testing col-6 text-left">
                <span><%= review.review %></span>
              </div>
              <div class="col-6 text-right">
                <span>created <%= time_ago_in_words(review.created_at) %> ago</span>
              </div>
            </div>
          <br>
            <% end %>
          <% end %>

    </div><hr>
  </div>
  <br>

  <%= form_with scope: :review, url: place_path, remote: true do |form| %>
    <div class="form-group text-left">
    <%= form.label :review %><br>
    <textarea class="form-control" type="text" name="place[review]" id="place_review"></textarea>
    </div>

    <%= form.submit "Post Review!", class: "submit btn btn-success"%>
  <% end %>


  <p class = "text-center">
    <!-- if admin is logged in, back button will go back to pending posts, else back button will got to my places -->
    <% if user_signed_in? and @place.approval == false %>
    <%= link_to 'Edit', edit_place_path, class: "btn btn-warning mt-4" %>
    <% end %>
    <% if user_signed_in? and current_user.admin == true and @place.approval == false %>

      <%= link_to 'Back', approve_admins_path, class: "btn btn-primary mt-4" %>
    <%elsif user_signed_in? and @place.approval == true and @place.user_id = current_user.id%>
      <%= link_to 'Back', places_path, class: "btn btn-primary mt-4" %>

    <% end %>
  </p>
</div>
