<p>Places:</p>
<p>
  <%= @place.name %>
  <%= @place.description %>
  <%= @place.address %>
</p>

<img src=<%=@place.img_url%>>
<%= @rating.value %>
<% puts @rating.inspect %>

<%= link_to 'Back', places_path %>