<div id="show-container" class="container mt-5">
  <div class="row">
    <div id="left-col-padding" class="col text-left">


      <div class="place-title"><%= @place.name %></div>
      
      <% pre_favourite = @place.favourite.find { |favourite| favourite.user_id == current_user.id} %>

        <% if pre_favourite %>
        <div class="d-flex align-items-center">
          <%= button_to 'ðŸ’”', post_favourite_path(@place,pre_favourite), class: "btn border-0 bg-white", method: :delete %> <span class="card-title"> <%= @place.favourite.count %> <%= (@place.favourite.count) == 1 ? 'people favourited this' : 'people favourited this'%> </span>
        </div>

        <% else %>
        <div class="d-flex align-items-center">
          <%= button_to 'â¤ï¸', post_favourite_path(@place), class: "btn border-0 bg-white", method: :post %> <span class="card-title"><%= @place.favourite.count %> <%= (@place.favourite.count) == 1 ? 'people favourited this' : 'people favourited this'%></span>
        </div>

      <% end %>
      
      <hr>

      <!-- display name of user who posted specific place_id -->
      <div class="card-title">By: <a class="user-name" href="/places/user/<%= @user_id %>" > <%= @creator.username%></a></div>

      <span class="rating-title"> Description </span>
      <div class="card-title"><%= @place.description %></div>

      <span id="location" class="text-left">
        <span class="card-title"> Address:</span>
        <span class="address-map" id="place_address"><%= @place.address %></span>
        <!-- div for map image -->
        <div id="map"></div>
      </span>
      
      <!-- <div class="btn-container"> -->
        <button onclick="toggle()" class="btn btn-info" id="expand">View Location</button>
      <!-- </div> -->
    </div>


    <div class="col text-left">
      <% if @place.img_url %>
      <%= cl_image_tag(@place.img_url, :size => "650x500", :crop => :fill, :class => "show-image") %>
      <% else %>
      <%= image_tag('/logo.svg', :size => "650x500", :crop => :fill, :class => "show-image") %>
      <% end %>


      <div class="rating-title mt-3"> Rating </div>
      <% if !@ratings.exists? %>
      <div class="card-title">No rating given.</div>
      <% else %>
      <% @ratings.each do |rating| %>
        <% if rating.value == 5 %>
          <div class="stars">
            <img src="/star_icon.svg">
            <img src="/star_icon.svg">
            <img src="/star_icon.svg">
            <img src="/star_icon.svg">
            <img src="/star_icon.svg">
          </div>
        <% end %>

        <% if rating.value == 4 %>
          <div class="stars">
            <img src="/star_icon.svg">
            <img src="/star_icon.svg">
            <img src="/star_icon.svg">
            <img src="/star_icon.svg">
            <img src="/star_outline.svg">
          </div>
        <% end %>

        <% if rating.value == 3 %>
          <div class="stars">
            <img src="/star_icon.svg">
            <img src="/star_icon.svg">
            <img src="/star_icon.svg">
            <img src="/star_outline.svg">
            <img src="/star_outline.svg">
           </div>
        <% end %>

        <% if rating.value == 2 %>
          <div class="stars">
            <img src="/star_icon.svg">
            <img src="/star_icon.svg">
            <img src="/star_outline.svg">
            <img src="/star_outline.svg">
            <img src="/star_outline.svg">
          </div>
        <% end %>

        <% if rating.value == 1 %>
          <div class="stars">
            <img src="/star_icon.svg">
            <img src="/star_outline.svg">
            <img src="/star_outline.svg">
            <img src="/star_outline.svg">
            <img src="/star_outline.svg">
          </div>
        <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

<hr>

  <div class="row">
    <div class="col text-left creation">
      <div class="rating-title">Reviews</div>
      <% if !@reviews.exists? %>
        <div class="card-title">No reviews yet. Add a review here.</div>
      <% else %>
        <% @reviews.each do |review| %>
          <p><%=review.user.username %> says:</p>
            <div class="row">
              <div class="testing col-6 text-left">
                <span><%= review.review %></span>
              </div>
              <div class="col-6 text-right">
                <span>created <%= time_ago_in_words(review.created_at) %> ago</span>
              </div>
            </div>
          <br>
            <% end %>
          <% end %>

    </div><hr>
  </div>

  <%= form_with scope: :review, url: place_path, remote: true do |form| %>
    <div class="form-group text-left">

    <textarea class="form-control" type="text" name="place[review]" id="place_review"></textarea>
    </div>

    <%= form.submit "Post Review!", class: "submit btn btn-success"%>
  <% end %>

  <p class = "text-center">
    <!-- if admin is logged in, back button will go back to pending posts, else back button will got to my places -->
    <% if user_signed_in? and @place.approval == false %>
    <%= link_to 'Edit', edit_place_path, class: "btn btn-warning mt-4" %>
    <% end %>
    <% if user_signed_in? and current_user.admin == true and @place.approval == false %>

      <%= link_to 'Back', approve_admins_path, class: "btn btn-primary mt-4" %>
    <%elsif user_signed_in? and @place.approval == true and @place.user_id = current_user.id%>
      <%= link_to 'Back', places_path, class: "btn btn-primary mt-4" %>

    <% end %>
  </p>
</div>