<div class="container">

  <div class="row">
    <div class="col text-left">
    <div class="pending-message">Your post is pending for admin's approval, thank you for your patience!</div>
      <h1><%= @place.name %></h1>
      <p> <span id ="desc"> Description: </span>
       <%= @place.description %></p>
      <span id="location" class = "text-left">
      <span id = "address"> Address:</span> <span id = "place_address"> <%= @place.address %> </span>
      <!-- div for map image -->
        <div id = "map">

        </div>
      </span>
      <!-- <div class="btn-container"> -->
        <button onclick="toggle()" class = "btn btn-info" id="expand">View Location</button>
      <!-- </div> -->
    </div>

    <div class="col text-left">
      <%= cl_image_tag(@place.img_url, :size => "650x500", :crop => :fill) %>
      <h5>Rating:</h5>
      <% if !@rating %>
      <p>No rating yet. Add a rating here</p>
      <% else %>
      <%= @rating.value %>
      <% end %>
    </div>
  </div>
<hr>
  <div class="row">
    <div class="col text-left">
      <h1 >Reviews:</h1>
      <% if !@review %>
      <p>No reviews yet. Add a review here.</p>
      <% else %>
      <%= @review.review %>
      <% end %>
    </div>
  </div>

<!-- div container closing -->
</div>

<%= link_to 'Edit', edit_place_path %>
<%= link_to 'Back', places_path %>