<h1 class="text-center">Posts by <%= @user.username%> 🌈✨</h1>

<div id="card-container" class="row d-flex justify-content-around p-4 text-center">
<div class="card-columns">
    <% @places.each do |place| %>
        <a href="/places/<%= place.id %>">
            <div class="card bg-transparent text-white">
                <img class="card-img" src<%= cl_image_tag(place.img_url) %>
                <h5 class="card-title d-flex"><%=place.name%></h5>
            </div>
        </a>
    <% end %>
</div>
    <%= link_to 'Back', places_path, class: "btn btn-primary" %>
</div>


