<!DOCTYPE html>
<html>
  <head>
    <title>LivinLocal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Livin' Local</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <a class="nav-link" href="/places">My Places <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> My Favourites</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/places/new"> Submit</a>
          </li>
          <% end %>
        </ul>


        <% if !user_signed_in? %>
        <%= link_to 'Log In', new_user_session_url, class: "btn btn-outline-primary mr-sm-2 my-2 my-sm-0" %>

        <%= link_to 'Sign Up', new_user_registration_url, class: "btn btn-outline-info mr-sm-2 my-2 my-sm-0" %>
        <% end %>

        <% if user_signed_in? %>
        <%= link_to 'Log Out', destroy_user_session_url, method: :delete, class: "btn btn-outline-danger mr-sm-2 my-2 my-sm-0" %>
        <% end %>

      </button>
    </nav>
    <div class="container-fluid text-center">
    <%= yield %>
    </div>
    <script>
      //to autocomplete address input fields
      function activateAutocomplete() {
        var input = document.getElementById('autocomplete');
        var options = {
          types: ['(cities)'],
          componentRestrictions: {country: 'sg'}
          };
        var autocomplete = new google.maps.places.Autocomplete(input);
      };

      //to translate address into lat and lng to be displayed in map --HAVING ISSUES WITH JAVASCRIPT MAP--
      // var geocoder;
      // var map;
      // function initialize() {
      //   geocoder = new google.maps.Geocoder();
      //   var latlng = new google.maps.LatLng(1.3521, 103.8198);
      //   var mapOptions = {
      //     zoom: 15,
      //     center: latlng
      //   }
      //   map = new google.maps.Map(document.getElementById('map'), mapOptions);
      // }

      // function codeAddress() {
      //   var address = document.getElementById('address').innerHTML;
      //   geocoder.geocode( { 'address': address}, function(results, status) {
      //     if (status == 'OK') {
      //       map.setCenter(results[0].geometry.location);
      //       var marker = new google.maps.Marker({
      //           map: map,
      //           position: results[0].geometry.location
      //       });
      //     } else {
      //       alert('Geocode was not successful for the following reason: ' + status);
      //     }
      //   });
      // }
    </script>

    <!-- to load Maps API libraries: -->
    <script type= "text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0mU_z1ODp6PjIxdxewMWW9559ZzoerOA&libraries=places&callback=activateAutocomplete"></script>

  </body>
</html>
