<!DOCTYPE html>
<html>
  <head>
    <title>livin'local</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  </head>

  <body onload="activateAutocomplete()">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a id="logo" href= "/">
        <div class="navbar-brand"><img src="/logo.svg"></div>
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <a class="nav-link" href="/places/creation">My Places <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> My Favourites</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/places/new"> Submit</a>
          </li>
          <% end %>

          <% if user_signed_in? and current_user.admin == true %>
          <li class="nav-item">
            <a class="nav-link" href="/places/pending">Pending Posts</span></a>
          </li>
          <% end %>
        </ul>

        <% if !user_signed_in? %>
        <%= link_to 'Log In', new_user_session_url, id: "login", class: "btn btn-outline-primary mr-sm-2 my-2 my-sm-0" %>

        <%= link_to 'Sign Up', new_user_registration_url, id: "signup", class: "btn btn-outline-info mr-sm-2 my-2 my-sm-0"%>
        <% end %>

        <% if user_signed_in? %>
        <%= link_to 'Log Out', destroy_user_session_url, id: "login", method: :delete, class: "btn btn-outline-danger mr-sm-2 my-2 my-sm-0" %>
        <% end %>

      </button>
    </nav>
    <!-- <div class="container-fluid"> -->
    <%= yield %>
    <!-- </div> -->
    <script>
      //to autocomplete address input fields
      function activateAutocomplete() {
        var input = document.getElementById('autocomplete');
        var options = {
          types: ['(cities)'],
          componentRestrictions: {country: 'sg'}
          };
        var autocomplete = new google.maps.places.Autocomplete(input);
      };

      //onclick of read more, address and map is displayed and read more button changes value
        function toggle() {
          var location = document.getElementById('location')
          var btnText = document.getElementById("expand");
          if (location.style.display === "none") {
            location.style.display = "inline";
            btnText.innerHTML = "Close";
          } else {
            location.style.display = "none";
            btnText.innerHTML = "View Location";
          }
        }
      // translate address into lat and lng coordinates by geocoder and set map
      var map;
      function initMap() {
        var address = document.getElementById('place_address').innerHTML;
          var geocoder = new google.maps.Geocoder();
          geocoder.geocode( { 'address': address}, function(results, status) {
            if (status == 'OK') {
              var latitude = results[0].geometry.location.lat
              var longitude = results[0].geometry.location.lng
                map = new google.maps.Map(document.getElementById('map'), {
                  center: {lat: latitude, lng: longitude},
                  zoom: 15
                })
              map.setCenter(results[0].geometry.location);
              var marker = new google.maps.Marker({
                  map: map,
                  position: results[0].geometry.location
              });
            }
            else {
              alert('Geocode was not successful for the following reason: ' + status);
            }
          })
        };

    </script>

    <!-- to load Maps API libraries: -->
    <script type= "text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0mU_z1ODp6PjIxdxewMWW9559ZzoerOA&libraries=places&callback=initMap"></script>

  </body>
</html>
